POSTGRES_USER=dw_user
POSTGRES_PASSWORD=dw_pass
POSTGRES_DB=dw
PGDATA=/var/lib/postgresql/data/pgdata
PG_PORT_HOST=5432

PENTAHO_IMAGE=hiromuhota/webspoon:latest
PENTAHO_CONTAINER=pikp-dev-pentaho
PENTAHO_WEB_PORT_HOST=18080

SUPERSET_IMAGE=apache/superset:latest-dev
SUPERSET_CONTAINER=pikp-dev-superset
SUPERSET_WEB_PORT_HOST=18088
SUPERSET_SECRET_KEY=change-this-superset-secret
SUPERSET_META_DB_URI=sqlite:////app/superset_home/superset.db
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRST_NAME=Project
SUPERSET_ADMIN_LAST_NAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
